<link rel="stylesheet" href="assets/css/bootstrap.css">

<header id="intro" style="display: block;">
  <article class="fullheight" style="height: 568px;">
    <div class="hgroup">
      <h1>Move to Mars</h1>
      <h2>First Hotel on the Red Planet</h2>
      <p><a href="/#welcome"><img src="assets/images/arrow.png" alt="down arrow"></a></p>
    </div>
  </article>

  <div class="scrollmagic-pin-spacer"
       style="display: block; top: auto; left: auto; bottom: auto; right: auto; position: relative; margin: 0 auto auto; box-sizing: content-box; width: 100%; min-height: 44px; height: auto; padding-top: 0; padding-bottom: 0;">
    <nav id="nav" style="position: relative; top: 0; left: 0; bottom: auto; right: auto; width: 100%;">
      <div class="navbar">
        <div class="brand"><a href="/#welcome">Book your Mars Module <span>Here</span></a></div>
      </div><!-- navbar -->
    </nav>
  </div>
</header>
<main id="wrapper">
  <div class="scene" id="welcome">
    <article class="content">

      <div class="row">
        <div class="col-12">
          <div class="gallery">
            <img src="assets/images/intro_mars_module.jpg" alt="Intro Mars Module Picture">
            <img src="assets/images/intro_mars_module2.jpg" alt="Intro Mars Module Picture 2">
            <img src="assets/images/intro_restaurant.jpg" alt="Intro Mars Restaurant Area">
            <img src="assets/images/intro_attractions.jpg" alt="Intro Mars Attractions Picture">
            <img class="hidesm" src="assets/images/intro_dining.jpg" alt="Intro Mars Dining Picture">
          </div>
          <h1>Book a Module on Mars</h1>

          <form class="form-horizontal" [formGroup]="modulesearch"
                (ngSubmit)="onSubmit(modulesearch)">
            /*
            * bug here?
            */
            <div class="form-group">
              <label for="checkin" class="col-4">Check-In:</label>
              <div class="col-8">
                <input id="checkin" type="date" class="form-control"
                       formControlName="checkin">
              </div>
            </div>
            <div class="form-group">
              <label for="checkin" class="col-4">Check-Out:</label>
              <div class="col-8">
                <input id="checkout" type="date" class="form-control"
                       formControlName="checkout">
              </div>
            </div>

            <div class="form-group">
              <div class="col-offset-2 col-10">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>

      <h1>Available Modules</h1>

      <div class="row" *ngIf="modules">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr *ngFor="let module of modules">
                <td>
                  <img src="assets/images/intro_restaurant.jpg" alt="Intro Mars Restaurant Area">
                </td>
                <td>
                  <strong>Module: {{module.moduleNumber}}</strong><br/>
                  <strong>Price: {{module.price}} $</strong>
                </td>
                <td>
                  <button type="submit" class="btn btn-primary" (click)="reserveModule(module.id)">Reserve</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </article>
  </div><!-- welcome -->
  <div class="scene" id="marshotelinfo">
    <article class="heading">
      <h1>Essential Info</h1>
    </article>
    <article id="usefulinfo">
      <section id="arrivalinfo">
        <h2>Arrival Information</h2>
        <ul>
          <li><strong>Check-in:</strong> 3:00 PM</li>
          <li><strong>Check-out:</strong> 11:00 AM</li>
          <li><strong>Parking:</strong> Self-parking in the underground spacecraft garage is 50 euro per day and
            valet-parking is 150 euro
            per day.
          </li>
          <li><strong>Spacecraft Transfer:</strong> We offer a complimentary service for transfer to the Take-of/Landing
            Area of the
            spacecrafts. That means you can get a flight to Earth every day.
          </li>
          <li><strong>Take-off Area:</strong> We have our own take-of / landing area if you want to come to Mars with
            your own spacecraft.
            Limits for landing/take of is 30 tones per spacecraft
          </li>
          <li><strong>Pet Policy:</strong> Pets of all sizes and types are allowed in designated pet rooms, in our Pets
            Hotel.
            Service animals are allowed everywhere.
          </li>
        </ul>
      </section>
      <section class="checklist" id="services">
        <h2>Services and Amenities</h2>
        <p>Our services and amenities are designed to make your space-travel easy, your stay comfortable, and your Mars
          experience
          one-of-a-kind.</p>
        <ul>
          <li>Indoor swimming pool</li>
          <li>Low gravity fitness center</li>
          <li>Martian exotic massage</li>
          <li>Full service spa</li>
          <li>In-room jacuzzi tubs</li>
          <li>Mars view café &amp; smoothie bar</li>
          <li>Coffee bar &amp; lounge area</li>
          <li>Traditional Earth breakfast</li>
          <li>Mars exploration Rover</li>
          <li>Interplanetary culture center</li>
          <li>Complimentary wireless service</li>
          <li>Spacesuit &amp; dry cleaning service</li>
          <li>Daily news from Earth</li>
          <li>Meteor rain free hotel</li>
          <li>Pet-friendly rooms &amp; common areas</li>
        </ul>
      </section>
      <section class="checklist" id="accessibility">
        <h2>Interplanetary Center</h2>
        <p>We have the biggest interplanetary center in the entire solar system</p>
        <ul>
          <li>See the history of the Galaxy in VR</li>
          <li>Meet other forms of live</li>
          <li>Learn basic words in universal language</li>
          <li>Interplanetary networking parties</li>
          <li>Interplanetary souvenir bazaar</li>
        </ul>
      </section>
    </article>
    <article id="marsgreenprogram">
      <h2>Move to Mars - Module Hotel</h2>
      <p><strong>Move to Mars - Module Hotel</strong> was the first hotel on the red planet, and we considered the
        impact on the Mars
        the entire way. From green building materials, to solar power energy, all the Module Hotel Complex it's
        energy-friendly,
        and has a minimal impact on the Mars surface. </p>
    </article>
  </div><!-- hotelinfo -->

  <div class="scene" id="dining">
    <article id="areadining">
      <h1>Dining Area on Mars</h1>
      <p>Dining on Mars it's a unique adventure. It's not like anything you have done before. The martian view it's
        absolutely unique. Siting in a comfortable chair and watching the Mars two moons, Phobos and Deimos, it's
        defiantly
        a one of a kind experience. We offer a great diversity of Earth and Mars cuisine, but also a lot of
        interplanetary
        cuisine, to have a real tasty adventure.</p>
    </article>
    <article id="inhotel">
      <section id="marsrooftopcafe">
        <h2>Mars View Café</h2>
        <img src="assets/images/mars_view_cafe.jpg" alt="Mars View Café">
        <p>Mars View Café is the destination for an exclusive dining. We have a large variety of food, our chefs
          being among the best in the solar system. And don't forget the amazing view over the Mars's moons.</p>
      </section>

      <section id="marssmoothiebar">
        <h2>Mars Smoothie Bar</h2>
        <img src="assets/images/mars_smoothie_bar.jpg" alt="Mars Smoothie Bar">
        <p>The Mars Smoothie Bar gives you panoramic views over the martian landscape, where you can have one of our
          amazing
          smoothies while you wait for your table in the Dining Area. You can make your own smoothie, and don't forget
          to put
          some marsbar on top.</p>
      </section>

      <section id="marsbreakfast">
        <h2>Martian Breakfast</h2>
        <img src="assets/images/martian_breakfas.jpg" alt="Martian Breakfas">
        <p>Our traditional Earth Breakfast and Coffee Bar, located adjacent to our dining area, is the perfect way to
          start your
          morning. You can enjoy the breakfast you were used to, and don't miss the amazing experience of beign on the
          red planet.</p>
      </section>
    </article><!-- inhotel -->
    <article id="roomservice">
      <h1>Thank you for your visit</h1>
      <p>If you have any more questions, or suggestions for us, please fell free to contact us at the links bellow.
        And don't forget:
        <strong>" Q: What is a spaceman’s favorite chocolate?
          A: A marsbar!."</strong></p>
    </article>
  </div><!-- dining -->

</main>
<footer class="scene">
  <article class="content">
    <div id="socialmedia">
      <ul class="group">
        <li><a href="https://twitter.com/spacex/"><img class="icon" src="assets/images/twitter.png"
                                                       alt="icon for twitter"></a></li>
        <li><a href="https://www.facebook.com/MarsOneProject/videos/1221397117908695/"><img class="icon"
                                                                                            src="assets/images/facebook.png"
                                                                                            alt="icon for facebook"></a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=Ndpxuf-uJHE"><img class="icon" src="assets/images/youtube.png"
                                                                       alt="icon for youtube"></a>
        </li>
      </ul>
    </div>
  </article>
</footer>
<script src="src/app/images/script.js"></script>
